body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#main-view {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.main {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: center;
  }

  .mainpagecontainer {
  background-image: url('https://e0.pxfuel.com/wallpapers/63/714/desktop-wallpaper-demon-slayer-red-spider-lily-tokyo-ghoul-flower-anime-flower-lycoris-radiata.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  left: 0;
}

.otherpagescontainer {
  background-image: url("https://wallpaper.dog/large/10733962.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  left: 0;
}
