#one{
  align-content: left;
  background-color: rgb(254, 151, 15);
  text-align: left;
  padding-right: 100px;
  padding-left: 100px;
}

body{
    background-color: black;;
}

.animegenrecontainer{
  background-image: url("https://wallpaperaccess.com/full/114439.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#genrecard{
  border-color: black;
  border-width: 2px;
  justify-content: center;
  padding: 100px;
}

#genreheader{
  text-align: center;
  color: rgb(33, 42, 42);
  padding-top: 20px;
  padding-bottom: 0px;
}

#genrecardbody{
  font-size: 30px;
  color:black;
}

a{
  color:black;
  text-decoration: none;
}
